#home {
   position: relative;
   width: 100%;
   height: 100%;
   background: linear-gradient(120deg, #ffffff, #f9f9f9, #f4f4f4, #efefef, #eaeaea);
   display: grid;
}

#home>header {
   --_w-min: min(var(--body-w), var(--body-max-w));
   --_extra: max(calc(var(--_w-min) - 300px), 0px);
   padding: 0 calc(var(--_extra) / 2);

   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   place-items: center;
   height: var(--home-header-h);
   background: #ffffff;
   overflow: hidden;
   border-bottom-left-radius: var(--border-r);
   border-bottom-right-radius: var(--border-r);
   border-bottom: solid 1px #0002;
}

#home>header #dateTask {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
}

#home>header #dateTask * {
   font-family: sb7;
}

#home>header #dateTask #showDays {
   position: relative;
   display: flex;
   justify-content: center;
   gap: 3px;
   align-items: center;
}

#home>header #dateTask #tudayTaskCount {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

#home .icon {
   position: relative;
   width: 80%;
   height: 80%;
   display: grid;
   place-items: center;
   font-size: var(--icon-s);
   color: var(--icon-color-default);
}

