* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   font-size: 16px;
   -ms-overflow-style: none;
   scrollbar-width: none;

   /* outline: solid 1px #f002; */
}
*::-webkit-scrollbar {
   display: none;
}

:root {
   --icon-color-default: #696969;
   --icon-s: 24px;
   --border-r: 15px;
   --body-max-w: 380px;
   --body-w: 100svw;
   --body-h: 100svh;
   --body-sw: min(var(--body-max-w), var(--body-w));
   --body-sh: min(var(--body-max-h), var(--body-h));
   --footer-h: 60px;
   --home-header-h: 90px;
   --todo-w: 320px;
}

.c {
   /* center row col */
   display: grid;
   place-items: center;
}
.cr {
   /* center row */
   display: flex;
   justify-content: center;
}
.cc {
   /* center col */
   display: flex;
   align-items: center;
}
.f {
   /* full 100% height width */
   width: 100%;
   height: 100%;
}
.rf {
   /* relative full 100% height width */
   position: relative;
   width: 100%;
   height: 100%;
}
.rfw {
   /* relative full 100% width */
   position: relative;
   width: 100%;
}
.rfh {
   /* relative full 100% height */
   position: relative;
   height: 100%;
}

body {
   position: relative;
   width: var(--body-w);
   background: #000;
   border-left: solid calc(calc(var(--body-w) - var(--body-sw)) / 2) transparent;
   border-right: solid calc(calc(var(--body-w) - var(--body-sw)) / 2) transparent;
   height: var(--body-h);
   display: grid;
   overflow: hidden;
}

main {
   position: relative;
   width: 100%;
   height: 100%;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
}
