* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;

   outline: solid 1px #f002;
}
:root {
   --icon-color-default: #696969;
   --icon-s: 24px;
   --border-r: 15px;
   --footer-h: 60px;
   --body-max-w: 380px;
   --body-w: 100vw;
   --body-h: 100vh;
   --home-header-h: 60px;
}

.c { /* center row col */
   display: grid;
   place-items: center;
}
.cr { /* center row */
   display: flex;
   justify-content: center;
}
.cc { /* center col */
   display: flex;
   align-items: center;
}
.f { /* full 100% height width */
   width: 100%;
   height: 100%;
}
.rf { /* relative full 100% height width */
   position: relative;
   width: 100%;
   height: 100%;
}
.rfw { /* relative full 100% width */
   position: relative;
   width: 100%;
}
.rfh { /* relative full 100% height */
   position: relative;
   height: 100%;
}

body {
   overflow: hidden;
   position: relative;
   width: var(--body-w);
   background: #000;
   border-left: solid calc(calc(var(--body-w) - var(--body-max-w)) / 2) #000;
   border-right: solid calc(calc(var(--body-w) - var(--body-max-w)) / 2) #000;
   height: var(--body-h);
   display: grid;
   grid-template-rows: auto var(--footer-h);
   background: #e7e7e7;
}
main {
   position: relative;
   width: 100%;
   height: 100%;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
}